@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ebecf1;
	color: #b3b9b9;
}
.back{
    position: absolute;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #3bd62b;
    top: 15px;
    right: 15px;
    text-align: center;
    padding: 4px;
}
.back a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}
.wrapper{
    width: 80%;
	margin: 20px auto;
}


.links{
	margin-bottom: 25px;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul{
	display: flex;
	justify-content: center;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #4abd3e;
}




.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item {
	background: #fff;
	border: 1px solid #e2efe1;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}

.view_item .btn{
	width: 125px;
	background: #4abd3e;
	padding: 8px 5px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
}

.view_item .btn:hover{
	background: #3bd62b;
}
.vi_left{
    width: 75px;
    height: 80px;
}
.view_item img{
	width: inherit;
    height: inherit;
}




/************************/

.l-v {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}
.x{
    flex-direction: column;
    width: 30%;
    min-width: 300px;
}
.v{
    width: 100%;

}
.s{
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 5px;
}


